/* Base styling */
body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

body, #text {
  font-size: 2vw;
  padding: 1vw;
}

/* Game container styling */
#game {
  max-width: 90vw;
  max-height: 80vh;
  background-color: #ffffff;
  color: #ffffff;
  margin: 5vh auto;
  padding: 2vw;
  box-sizing: border-box;
}

/* Flex styling for controls and stats */
#controls, #stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1vw;
  color: #0a0a23;
  border: 1px solid #0a0a23;
}

#villainStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

/* Button styling */
button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  font-size: 1.8vw;
  padding: 1vh 2vw;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  #game {
    max-width: 100vw;
    max-height: 90vh;
    margin: 2vh auto;
  }

  #controls, #stats {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 80%;
    font-size: 2.5vw;
    padding: 1vh 2vw;
    margin-bottom: 1vh;
  }
}

#footer {
  text-align: center;
  color: #ffffff;
  background-color: #0a0a23;
  padding: 1vh;
  font-size: 1.5vw;
  margin-top: 2vh;
}

@media (max-width: 600px) {
  #footer {
    font-size: 3vw;
  }
}

/* Logo container styling */
#logo-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

#game-logo {
  width: 20vw;
  max-width: 150px;
  background-color: #0a0a23;
  border-radius: 10%;
}

@media (max-width: 600px) {
  #game-logo {
    width: 30vw;
    max-width: 100px;
  }
}

/* Media query for landscape mode with small screen height */
@media (max-height: 500px) {
  body, #text {
    font-size: 1.5vw; /* Reduce font size in landscape mode with limited height */
  }
  
  #footer {
    font-size: 2.5vw; /* Scale footer font size down for landscape mode */
  }

  button {
    font-size: 2vw; /* Scale down button font size */
  }
}

/* Additional adjustment for extra small screens if needed */
@media (max-width: 400px) {
  #footer {
    font-size: 4vw; /* Increase scaling effect on very small screens */
  }
}

/* Adjust font size for stat elements on small screens */
.stat {
  font-size: 1.5vw; /* Default size for larger screens */
}

/* Increase stat font size on smaller screens */
@media (max-width: 600px) {
  .stat {
    font-size: 4vw; /* Makes stats more prominent on small screens */
  }
}

/* Additional media query for very small screens */
@media (max-width: 400px) {
  .stat {
    font-size: 5vw; /* Further increases font size for ultra-small screens */
  }
}